@model ButtonGrid.Models.ButtonModel

@{
    // store image names in an array for more efficent code
    string[] imagenames = { "buttonGreen.png", "buttonRed.png", "buttonTeal.png", "buttonYellow.png" };
}

<!-- der asp-controller sagt welcher teil von den controllern zuhört-->
<button class="game-button" name="buttonNumber" value="@Model.Id" type="submit" asp-controller="button" asp-action="HandleButtonClick">
    <!--show the proper image according to the button state property-->
    <img class="game-button-image" src="~/img/@imagenames[Model.ButtonState]" />

    <!--zeigt button farbe als nummer und positionsnummer im grid-->
    <div>
        @Model.Id, @Model.ButtonState
    </div>
</button>
